<aside class="sidebar">
  <div class="sidebar-inner">
    <div class="sidebar-title">Meniu</div>
    <a href="/voluntari"   class="side-link">Voluntari</a>
    <a href="/formulare"   class="side-link">Formulare</a>
    <a href="/donatii"     class="side-link">Donații</a>
    <a href="/proiecte"    class="side-link">Proiecte</a>
    <a href="/cause"       class="side-link">Cauze</a>
    <a href="/rapoarte"    class="side-link">Rapoarte</a>
    <a href="/setari"      class="side-link">Setări</a>
  </div>
</aside>
